
  @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    font-family: 'poppins';
    font-weight: 400;
  }